*{margin: 0;padding: 0;box-sizing: border-box;}
@import url ('https://fonts.googleapis.com/css2? family = Open + Sans: ital, wght @ 0,300; 0,400; 0,600; 1,300; 1,400 & family = Roboto + Condensado: ital, wght @ 0,300; 0,400; 0,700; 1,300; 1,400; 1,700 & family = Roboto: ital, wght @ 0,100; 0,300; 0,400; 1,100; 1,300 & display = trocar ');
body {
	margin: auto;
	max-width: 100%;
	height: 100%;
	background-color: #fff;
}
.menu-superior {
	background-color: rgb(133, 255, 23, 0.6);
	height: 60px;
}
main {
	display: inline;
}
.conteudo {
	margin: auto;
	width: 980px;
}
.logo {
	margin: auto;
	float: left;
}
.imglogo {
	padding: 2px;
	max-width: 50px;
}
.nome {
	float: left;
	margin: 12.5px 0px 10px 10px;
	display: inline;
	font-family: Open-Sans;
	font-size: 30px;
}
.redes-sociais {
	margin: 18px 5px 10px 10px;
	float: right;
}
.banner {
	z-index: 0;
	margin-top: 0px;
	max-width: 100%;
}
.imgbanner {
	z-index: 1;
	margin-top: 0px;
	max-width: 100%;
}
.corpo-merchan {
	z-index: 2;
	position: relative;
	width: 550px;
	height: 63px;
	margin: -30px auto 0px auto;
	background-color: rgb(128, 128, 128, 1);
	border-style: solid;
	border-color: rgb(133, 255, 23, 1);
	border-radius: 10px;
}
.merchan {
	color: rgb(255, 255, 255, 1);
	margin-top: 0px;
	font-family: Open-Sans;
	text-align: center;
}
.abas {
	position: relative;
	display: block;
	max-width: 980px;
	margin: 20px auto auto auto;
}
.boxes-med-background {
	position: relative;
	margin-top: 10px;
	width: 200px;
	height: 300px;
	border-style: solid;
	border-color: rgb(128, 128, 128, 1);
	border-radius: 10px;
	background-image: url("../img/logomedicina.jpg");
	background-size: 100% 100%;
	background-position: center;
  	background-repeat: no-repeat;
}
.boxes-med-name {
	background-color: rgb(0, 9, 87, 1);
	position: relative;
	margin: 245px auto 0px auto;
	width: 150px;
	height: 35px;
	border-style: solid;
	border-color: rgb(0, 9, 87, 1);
	border-radius: 10px;
}
.medicina {
	width: 90px;
	position: relative;
	margin: 1.3px auto;
	font-family: Open-Sans, Roboto;
	font-style: italic;
	color: rgb(255, 255, 255, 1);
}
.boxes-fis-background {
	position: relative;
	margin-top: 10px;
	width: 200px;
	height: 300px;
	border-style: solid;
	border-color: rgb(128, 128, 128, 1);
	border-radius: 10px;
	background-image: url("../img/logofisica.jpg");
	background-size: 100% 100%;
	background-position: center;
  	background-repeat: no-repeat;
}
.boxes-fis {
	background-color: rgb(0, 9, 87, 1);
	position: relative;
	margin: 245px auto 0px auto;
	width: 150px;
	height: 35px;
	border-style: solid;
	border-color: rgb(0, 9, 87, 1);
	border-radius: 10px;
}
.fisica {
	width: 60px;
	position: relative;
	margin: 0.3px auto;
	font-family: Open-Sans, Roboto;
	font-style: italic;
	color: rgb(255, 255, 255, 1);
}
.baixo {
	background-color: rgb(133, 255, 23, 1);
	height: 200px;
	margin-top: 20px;
}
.baixo-conteudo {
	text-align: center;
	margin: auto;
	width: 980px;
}
.titulo {
	color: rgb(0, 0, 0, 1);
	font-family: Open-Sans, Roboto;
	font-size: 30px;
	font-style: italic;
	font-weight: bold;
	text-align: center;
}
.resposta {
	width: 350px;
	margin: 8px auto;
	font-size: 20px;
	font-family: Open-Sans, Roboto;
	font-weight: bold;
}
.icons{
	text-align: center;
	margin: auto;
	width: 980px;
}